
textarea {
	resize:none;
}
h3 {
	color: #337ab7;
}
.footer{
	background-color: #333;
    color: white;
}
i {
	vertical-align:text-top;
}
.navbar-new{
	margin-bottom:0;
	border:0;
}
#banner-p{
	color: rgb(154, 191, 214);
    font-size: larger;
}